
@using AsiaCharmtours.Database
@using AsiaCharmtours.Models
@using AsiaCharmtours.Handler

@{
    string lan = Request.Cookies["LanguageID"].Value;
    W_Menu menu = (W_Menu)ViewData["menu"];
    EF_TourDetail tourDetail = (EF_TourDetail)ViewData["tourDetail"];
    List<T2_TourGallery> listGalleries = (List<T2_TourGallery>)ViewData["tourgallary"];
    List<W_Menu> menuTour = (List<W_Menu>)ViewData["menuTour"];
    List<EF_Article> listArticle = QuickData.ListArticle(lan);
    List<EF_Tour> listTourLike = QuickData.ListTourLike(lan);

}
<content>
    <section class="id">
        <div class="banner-destination">
            <div class="des-banner-for">
                @foreach (var itemGallery in listGalleries)
                {
                    <img src="@itemGallery.Image" alt="">
                }
            </div>
            <div class="des-banner-nav">
                @foreach (var itemGallery in listGalleries)
                {
                    <img src="@itemGallery.Image" alt="">
                }
            </div>
        </div>

    </section>
    <section>
        <div class="nav-detailtour">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9  col-md-12">
                        <ul>
                            <li class="list-nav-detail">
                                <a href="#overreview" class="color696969 size16 fontc">Over review</a>
                            </li>
                            <li class="list-nav-detail">
                                <a href="#tourplan" class="color696969 size16 fontc">Tour plan</a>
                            </li>
                            <li class="list-nav-detail">
                                <a href="#simiar" class="color696969 size16 fontc">Simiar tour</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-3 colnone">
                        <div class="btn-book-this-tour">

                            <a href="#book" data-target="" data-toggle="largeModal" class="color000 size16 fontc txt-upper">Book this tour</a>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Modal Body</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="backgroundfff pad500" id="overreview">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="vk-blog-detail__breadcrumb">
                            <li><a class="color696969 size16 fontc" href="https://luxurytravelvietnam.com">Home</a></li>
                            <li><a class="color696969 size16 fontc" href="https://luxurytravelvietnam.com/activities">Activities</a></li>
                            <li><a class="color696969 size16 fontc" href="https://luxurytravelvietnam.com/activities/culture-tours">Culture Tours</a></li>
                            <li><a class="color696969 size16 fontc" href="https://luxurytravelvietnam.com/tour-item/luxury-grand-cambodia-laos-vietnam-tour-15-days">Luxury Grand Cambodia Laos Vietnam Tour 15 days</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="vk-shop-detail__meta">
                            <strong class="color696969 fontc size18 margin-10-20">
                                Culture Tours
                            </strong>
                            <strong class="color696969 fontc size18 margin-10-20">
                                15 days
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8 col-xs-12">
                        <h1 class="vk-shop-detail__title size30">Luxury Grand Cambodia Laos Vietnam Tour 15 days </h1>
                        <p class="size16 fontc color696969">
                            With its natural beauties of caves, forests and never-ending beaches and waterways, Vietnam Cambodia and Laos are the dream destination for travelers seeking to connect with nature
                        </p>
                        <div class="row">

                            @Html.Raw(tourDetail.Overview)

                        </div>
                        <div id="tourplan" class="accordion">
                            <div class="text-left size40 color000 fontb">
                                Tour plan
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="travel-vn">
                                        <div id="accordion" class="accordion">
                                            <div class="mb-0">
                                                @foreach (var itemArticle in listArticle)
                                                {
                                                    if (itemArticle.MenuAlias == tourDetail.MenuAlias)
                                                    {
                                                        if (itemArticle.Index == 0)
                                                        {
                                                            <div class="card-vn collapsed color696969" data-toggle="collapse" href="#@itemArticle.Alias">
                                                                <h3 class="card-title fontc size18 fontweight-b">
                                                                    @itemArticle.Title
                                                                    <span class="float-right"><i class="fas fa-angle-down"></i></span>
                                                                </h3>
                                                            </div>
                                                            <div id="@itemArticle.Alias" class="card-body collapse color696969 show" data-parent="#accordion">
                                                                @Html.Raw(itemArticle.Description)
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="card-vn collapsed color696969" data-toggle="collapse" href="#@itemArticle.Alias">
                                                                <h3 class="card-title fontc size18 fontweight-b">
                                                                    @itemArticle.Title
                                                                    <span class="float-right"><i class="fas fa-angle-down"></i></span>
                                                                </h3>
                                                            </div>
                                                            <div id="@itemArticle.Alias" class="card-body collapse color696969 " data-parent="#accordion">
                                                                @Html.Raw(itemArticle.Description)
                                                            </div>
                                                        }
                                                    }

                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-xs-12 " id="book">
                        <div class="">
                            <div class="bacground-fff box-detail-des">
                                <a href="#">
                                    <img src="~/Content/images/map22.jpg" alt="">
                                </a>
                                <div class="view-maps background000 text-center">
                                    <a href="#" class="viewmapsa txt-upper color-fff fontc text-center">
                                        view full maps
                                    </a>
                                </div>

                            </div>
                            <div class="fixed-book-thistour">
                                <div class=" backgroundfff box-detail-des">
                                    <h3 class="color31f20 fontb size25 border-bottom fontweight-b">
                                        Book this tour
                                    </h3>
                                    <div class="border-bottom">
                                        <div class="form-group ">
                                            <label for="exampleInputPassword1" class="size16 color696969 fontc ">Your name</label>
                                            <input type="password " class="form-control backgroundef fontc" placeholder="Mr.Nguyen ">
                                        </div>
                                        <div class="form-group ">
                                            <label for="exampleInputPassword1 " class="size16 color696969 fontc ">Phone number</label>
                                            <input type="number " class="form-control backgroundef fontc " id="exampleInputPassword1 " placeholder=" ">
                                        </div>
                                        <div class="form-group ">
                                            <label for="exampleInputPassword1 " class="size16 color696969 fontc ">Your name</label>
                                            <input type="email " class="form-control backgroundef fontc " id="exampleInputPassword1 " placeholder="Mr.Nguyen ">
                                        </div>
                                        <small class="fontc ">
                                            By Continuing with this, You have read and  <span>
                                                <a class="colorf9a " href=" ">agreed to the terms</a>
                                            </span>
                                        </small>



                                    </div>
                                    <div class="_bot ">
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                <div class="_label-1 ">from</div>
                                                @*<div class="_total "> $ 3150</div>*@
                                                @tourDetail.PriceExcludes
                                            </div>
                                            <div class="col-md-8 col-12">
                                                <button type="button" class="btn-sm-book txt-upper fontc" data-toggle="modal" data-target="#exampleModalCenter">
                                                    book this tour
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <img class="mdal-img" src="./images/poppup-1.jpg" alt="">
                                                                        <div class="tt-mdal-img fontc size25 color-fff fontweight-b">
                                                                            Laos VietNams 5 day in a Tour
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="w-100">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 5px;">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>

                                                                        <div class="w-100 margin-top-50">
                                                                            <p class="size40 fontb fontweight-b">
                                                                                Hello <span>
                                                                                    Nguyen
                                                                                </span>
                                                                            </p>
                                                                            <p class="fontc size16 margin0 color696969">
                                                                                You have requested the tour
                                                                            </p>
                                                                            <p class="fontc fontweight-b color000 size18">Highlights of Laos 5 days in a Tour of Laos</p>
                                                                            <p class="fontc size16 margin0 color696969">
                                                                                Contact information is
                                                                            </p>
                                                                            <p class="fontc fontweight-b color000 size18"><span style="padding-right:20px; border-right:2px solid #000; line-height: 20px;">0986756436</span><span style="padding-left:20px">bb&#x40;gmail.com</span></p>
                                                                        </div>
                                                                        <div class="row mdal-form">
                                                                            <div class="col-md-6 col-xs-12">
                                                                                <div class="form-group">
                                                                                    <label class="fontc">Departure date (YYYY/MM/DD) </label>
                                                                                    <div class='input-group date'>
                                                                                        <input type='text' id='datetimepicker1' class="form-control backgroundf4" placeholder="" />

                                                                                        <span style="position: absolute;  right: 15px; top: 5px; font-size: 15px;;">
                                                                                            <i style="left: -39px;" class="far fa-calendar-alt"></i>
                                                                                        </span>

                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                            <div class="col-md-3 col-xs-6">
                                                                                <div class="form-group">
                                                                                    <label class="fontc">Number of Adults </label>
                                                                                    <div class="input-group">

                                                                                        <input type="number" id="myNumber" class="form-control input-number backgroundf4" value="0" />

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3 col-xs-6">
                                                                                <div class="form-group">
                                                                                    <label class="fontc">Number of Children </label>
                                                                                    <div class="input-group">

                                                                                        <input type="number" id="myNumber" class="form-control input-number backgroundf4 " value="0 " />

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6 ">
                                                                                <label class="fontc ">Hotel Category </label>
                                                                                <select class="form-control backgroundf4 ">
                                                                                    <option>3 stars</option>
                                                                                    <option>4 stars </option>
                                                                                    <option>5 stars </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-6 ">
                                                                                <label class="fontc ">Travel Style </label>
                                                                                <select class="form-control backgroundf4 ">
                                                                                    <option>Classic & culture</option>
                                                                                    <option>Family Tour </option>
                                                                                    <option>Leisure </option>
                                                                                    <option>Holiday </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row ">
                                                                            <div class="col-md-6 ">
                                                                                <div class="form-group ">
                                                                                    <label for="my-input ">Please enter the code</label>
                                                                                    <input id="my-input " class="form-control " type="text " name=" ">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="w-100 text-center ">
                                                                            <button class="mdal-bt-send txt-upper fontc text-center ">
                                                                                send now
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="backgroundfff box-detail-des " style="margin-top:30px ">
                                    <div class="text-center ">
                                        <h3 class="color31f20 fontb size25 border-bottom text-left fontweight-b ">
                                            How It Works
                                        </h3>
                                        <div class="how-des ">
                                            <div class="_item ">
                                                <div class="vk-sidebar-item bd-bott ">
                                                    <div class="vk-sidebar-item__num "> 01</div>
                                                    <div class="vk-sidebar-item__brief ">
                                                        <h2 class="vk-sidebar-item__title ">Send us your inquiry</h2>
                                                        <div class="vk-sidebar-item__text ">&amp; tell us your preferences</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_item ">
                                                <div class="vk-sidebar-item bd-bott ">
                                                    <div class="vk-sidebar-item__num "> 01</div>
                                                    <div class="vk-sidebar-item__brief ">
                                                        <h2 class="vk-sidebar-item__title ">Send us your inquiry</h2>
                                                        <div class="vk-sidebar-item__text ">&amp; tell us your preferences</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_item ">
                                                <div class="vk-sidebar-item ">
                                                    <div class="vk-sidebar-item__num "> 01</div>
                                                    <div class="vk-sidebar-item__brief ">
                                                        <h2 class="vk-sidebar-item__title ">Send us your inquiry</h2>
                                                        <div class="vk-sidebar-item__text ">&amp; tell us your preferences</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="make-bottom ">
            <div class="make-bottom-img ">
                <img class=" " src="~/Content/images/1.4.jpg " alt=" ">
                <div class="make-bottom-txt ">
                    <div class="container ">
                        <div class="row justify-content-center ">
                            <div class="col-md-10 ">
                                <p class="size40 text-center color-fff ">
                                    We know you are unique, so we're here to create the unique experinces for you
                                </p>
                                <div class="w-100 text-center " style="margin-top: 30px; ">
                                    <a href="# " class="btn-center " tabindex="0 "><span>Make an enquiry</span></a>


                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="selling-index pad500 backgroundc " id="simiar ">
            <div class="vk-home__title-box animated fadeInUp " data-animation="fadeInUp " data-animation-duration="2 " style="opacity: 1; animation-duration: 2s; ">
                <h2 class="_title size40 ">Similar tours you may like</h2>
            </div>
            <div class="sales ">
                @foreach (var itemTourLike in listTourLike)
                {
                    <div class="col-md-3 ">
                        <div class="swiper-slide ">
                            <div class="outer-div ">
                                <div class="inner-div ">
                                    <img src="@itemTourLike.Image " class="entity-img " />
                                </div>
                                <span class="tt-img-tour ">
                                    @itemTourLike.PromotionTitle
                                </span>
                            </div>
                            <div class="sellingtour-brief ">
                                <div class="sellingtour-date size16 ">@itemTourLike.NumberDay DAYS</div>
                                <div class="sellingtour-box ">
                                    <h3 class="sellingtour-title ">
                                        <a class="size20 color000 " href="/@itemTourLike.MenuAlias/@itemTourLike.TourAlias " title="Luxuries and Mysteries of Myanmar 10 days " tabindex="0 ">@itemTourLike.TourName</a>
                                    </h3>
                                    <span class="_current ">@Html.Raw(itemTourLike.PriceExcludes)</span><a href="/@itemTourLike.MenuAlias/@itemTourLike.TourAlias " class="btn-viewdetail " tabindex="0 "><span>View Details</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>




    </section>


</content>

@section script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script src="~/Content/js/wow.min.js "></script>
    <script src="~/Content/js/main.js "></script>
    <script src="~/Content/js/header.js "></script>
    <script src="~/Content/js/slider.js "></script>
}