@using AsiaCharmtours.Database
@using AsiaCharmtours.Models
@{
    string lan = Request.Cookies["LanguageID"].Value;
    W_Company company = QuickData.Company(lan);
    List<W_Menu> listmenu = QuickData.GetMenu(lan);
    W_Menu menu = (W_Menu)ViewData["menu"];
    List<EF_Question> question = QuickData.ListQuestion(lan);

}
@*@Html.Partial("/Views/PartialView/Website/pMenuHome.cshtml", company)*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/css/slide.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/font.css">
    <link rel="stylesheet" href="~/Content/css/header.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <title>ACE Travel</title>
    <style>
        label.error {
            display: inline-block;
            color: red;
            width: auto;
        }

        #wraploadding {
            background-color: #fff;
            opacity: 0.8;
            z-index: 5000;
            position: fixed;
            top: 0px;
            left: 0px;
            display: none;
        }

            #wraploadding div#imgloadding {
                width: 100px;
                height: 100px;
                margin: auto;
                position: relative;
            }
    </style>
    @RenderSection("css", false)
</head>

<body>
    <header>
        <a id="button"><i class="fas fa-angle-up"></i></a>
        <section id="masthead">
            <div class="containar-fluid">
                <div class="row header-top margin0">
                    <div class="col-md-5 align-self-center">
                        <div class="float-left margin-10-20">
                            <a href="#" class="colorf9a">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>@company.Email
                            </a>
                        </div>
                        <div class="float-left margin-10-20 colorf9a">
                            <i class="fas fa-phone-alt"></i>
                            <span class="text-transform">Call Us: @company.Phone</span>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <a href="~/Content/index.html">
                            <img class="logo-bb" src="@company.Logo" style="width:140px; height: 80px; object-fit: contain;" alt="">
                        </a>
                    </div>
                    <div class="col-md-5 align-self-center">
                        <div class="row justify-content-end">
                                <div class="inque-now">
                                    <a href="/inquire" class="txt-upper color-fff">Inquire Now</a>
                                </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("/Views/PartialView/Website/pHeader.cshtml", company)

        <!--<section class="menu" id="header-1">
        <nav class="navbar navbar-expand-lg navbar-dark background000">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Content/index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DESTINATIONS
                        </a>
                        <div class="dropdown-menu wow fadeInUp" aria-labelledby="navbarDropdown">

                            <div class="container ">
                                <div class="row">
                                    <div class="col-xs-5ths text-center">
                                        <a href="~/Content/vietnam.html">
                                            <img class="img-dropdownmenu" src="~/Content/images/Laos.png" alt="">
                                            <div class="margin-10-20 colorf9a size25 tt-menu"> <i> Laos </i></div>
                                        </a>

                                    </div>
                                    <div class="col-xs-5ths text-center">
                                        <a href="~/Content/vietnam.html">
                                            <img class="img-dropdownmenu" src="~/Content/images/ThaiLan.png" alt="">
                                            <div class="margin-10-20 colorf9a size25 tt-menu"> <i> ThaiLan </i></div>
                                        </a>

                                    </div>
                                    <div class="col-xs-5ths text-center">
                                        <a href="~/Content/vietnam.html">
                                            <img class="img-dropdownmenu" src="~/Content/images/vietnam.png" alt="">
                                            <div class="margin-10-20 colorf9a size25 tt-menu"> <i> VietNam </i></div>
                                        </a>

                                    </div>
                                    <div class="col-xs-5ths text-center">
                                        <a href="~/Content/vietnam.html">
                                            <img class="img-dropdownmenu" src="~/Content/images/Campuchia.png" alt="">
                                            <div class="margin-10-20 colorf9a size25 tt-menu"> <i> Campuchia</i></div>
                                        </a>

                                    </div>
                                    <div class="col-xs-5ths text-center">
                                        <a href="~/Content/vietnam.html">
                                            <img class="img-dropdownmenu" src="~/Content/images/Myanmar.png" alt="">
                                            <div class="margin-10-20 colorf9a size25 tt-menu"> <i> Myanmar</i></div>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="~/Content/activities.html" id="navbarDropdown">
                            ACTIVITIES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="">


                            <div class="container ">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <span class="text-uppercase color696969">Activites</span>
                                        <div class="row  border-right">
                                            <div class="col-md-6">

                                                <ul class="nav flex-column padding0 ">
                                                    <li class="nav-item ">
                                                        <a class="nav-link nav-activites padding0 " href="detail-destiation.html">Advender tour</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a class="nav-link nav-activites padding0 " href="detail-destiation.html">Mega menu</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a class="nav-link nav-activites padding0 " href="detail-destiation.html">Biking $ Travel</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a class="nav-link nav-activites padding0 " href="detail-destiation.html">Dropdown menu</a>
                                                    </li>
                                                </ul>
                                            </div>-->
        <!-- /.col-md-4  -->
        <!--<div class="col-md-6">
                    <ul class="nav flex-column padding0  ">
                        <li class="nav-item ">
                            <a class="nav-link nav-activites padding0" href="detail-destiation.html">Active</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav-activites padding0 " href="detail-destiation.html">Link item</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link nav-activites padding0 " href="detail-destiation.html">Link item</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <span class="text-uppercase color696969">Popular tour</span>
            <div class="row" style="margin-top:20px">
                <div class="col-md-6 col-xs-6">
                    <a class="" href="~/Content/detail-destiation.html">
                        <div class="row zoomin-img-header">



                            <div class="col-md-6 zoomin-img-header">

                                <img class="height100" src="~/Content/images/Laos.png" alt="">

                            </div>
                            <div class="col-md-6 col-xs-6">
                                <span class="text-uppercase tt-content-popular color696969">Popular tour</span>
                                <p class="color-fff size14">Vietnam and Cambodia Family Tour 14 days</p>
                            </div>
                        </div>
                    </a>


                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="row zoomin-img-header">
                        <div class="col-md-6 zoomin-img-header">
                            <img class="height100" src="~/Content/images/1.3.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <span class="text-uppercase tt-content-popular color696969">Popular tour</span>
                            <p class="color-fff size14">Vietnam and Cambodia Family Tour 14 days</p>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="row zoomin-img-header">
                        <div class="col-md-6 zoomin-img-header">
                            <img class="height100" src="~/Content/images/1.4.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <span class="text-uppercase tt-content-popular color696969">Popular tour</span>
                            <p class="color-fff size14">Vietnam and Cambodia Family Tour 14 days</p>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="row zoomin-img-header">
                        <div class="col-md-6 zoomin-img-header">
                            <img class="height100" src="~/Content/images/1.7.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <span class="text-uppercase tt-content-popular color696969">Popular tour</span>
                            <p class="color-fff size14">Vietnam and Cambodia Family Tour 14 days</p>
                        </div>
                    </div>


                </div>
                <div>

                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>-->
        <!-- /.col-md-4  -->
        <!-- /.col-md-4  -->
        <!--</div>
                                </div>


                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Content/hotel.html">HOTELS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Content/blog.html">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Content/About-us.html">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Content/travelagent.html">TRAVEL AGENTS</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="search-toggle" data-selector="#header-1"><i class="fas fa-search"></i></a>
                        </li>


                        <div class="searchheader">
                            <div class="search-box wow fadeInDownp">
                                <form action="" class="">

                                    <input type="text" class="text search-input" placeholder="Type here to search..." />


                                </form>

                            </div>
                        </div>


                    </ul>

                </div>


            </nav>
        </section>-->
    </header>
    @RenderBody()


    <footer>
        <div class="footer background000">
            <div class="container">

                <h2 class="tt-ct-h2 text-center clearfix">
                    <span class="text-center">Our Associations</span>
                </h2>
                <div class="row justify-content-center text-center">

                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="~/Content/images/2.png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/7(1).png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="~/Content/images/2.png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/7(1).png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="~/Content/images/2.png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/7(1).png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="~/Content/images/2.png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/7(1).png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/7(1).png" alt="">

                    </div>
                    <div class="col-xs-5ths">
                        <img class="logo-footer" src="~/Content/images/2.png" alt="">

                    </div>

                </div>
                <div class="container">
                    <h2 class="tt-ct-h2 text-center clearfix">
                        <span class="text-center">Our Associations</span>
                    </h2>
                    <div class="row justify-content-center text-center">
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/2017-tripadvisor-w.png" alt="">
                        </div>
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/images/award-2.png">
                        </div>
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/2017-tripadvisor-w.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h2 class="tt-ct-h2 text-center ">
                        <span class="text-center">In The News</span>
                    </h2>
                    <div class="row justify-content-center text-center">
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/images/award-2.png">
                        </div>
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/2017-tripadvisor-w.png" alt="">
                        </div>
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/2017-tripadvisor-w.png" alt="">
                        </div>
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/images/award-2.png">
                        </div>
                        <div class="col-xs-5ths">
                            <img class="logo-footer" src="https://luxurytravelvietnam.com/uploads/files/2017-tripadvisor-w.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <h3 class="footer-title">
                                Nos bureaux
                            </h3>
                            <ul class="footer-list">
                                <li>
                                    <div class="footer-list-addr">
                                        <div class="addr-city">Siege a Hanoi:</div>

                                        <div class="addr-text">@company.Address</div> <br>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-list-addr">
                                        <div class="addr-city">Bureau a Hanoi:</div>
                                        <div class="addr-text">@company.Address</div> <br>
                                    </div>
                                </li>

                                <li>
                                    <div class="footer-list-addr">
                                        <div class="addr-city">Bureau a Hanoi:</div>
                                        <div class="addr-text">@company.Address</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h3 class="footer-title">
                                ACE Travel
                            </h3>
                            <ul class="footer-list">
                                <li class="addr-text footer-item-text">
                                    <a href="#">Qui Somme Nous</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Rencontrez Notre Équipe</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Pourquoi Voyager Avec Nous?</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Nos Valeurs Essentielles</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Signification du Logo</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Nos Récompenses</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Services “WOW”</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h3 class="footer-title">
                                Information
                            </h3>
                            <ul class="footer-list">
                                <li class="addr-text footer-item-text">
                                    <a href="#">Contactez – nous</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">FAQs</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Politiques De Paiement</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Politique De Confidentialite</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Pour les agents de voyages</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Brochure</a>
                                </li>
                                <li class="addr-text footer-item-text">
                                    <a href="#">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h3 class="footer-title">Nous acceptons le paiement via</h3>
                            <img class="tt-img" src="https://fr.ACEtravelvietnam.com/public/frontend/images/visa.png" alt="">
                            <h3 class="footer-title">
                                Réseaux Sociaux
                            </h3>
                            <ul class="footer-list">
                                <li class="footer-item-text ft-contact">
                                    <a href="@company.Facebook"> <i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="footer-item-text ft-contact">
                                    <a href="@company.Twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="footer-item-text ft-contact">
                                    <a href="@company.Youtube"><i class="fab fa-tripadvisor"></i></a>
                                </li>
                                <li class="footer-item-text ft-contact">
                                    <a href="@company.Instagram"><i class="fab fa-whatsapp"></i></a>
                                </li>
                                <li class="footer-item-text ft-contact">
                                    <a href="@company.Website"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="coppy-right">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-6">
                            <div class="cp-footer-left">
                                © ACE Travel. Co. Ltd.
                            </div>
                        </div>
                        <div class="col-lg-7 d-none d-lg-block">
                            <p class=" cp-footer-left ">
                                Vietnam's First ACE Tour Operator and DMC, International Tour Operator Licence 01-074/TCDL-GPLHQT
                            </p>
                        </div>
                        <div class="col-lg-3 col-6 ">
                            <div class="cp-footer-right ">
                                <img src="https://luxurytravelvietnam.com/frontend//images/footer-1.png" alt=" " width=" ">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- <script src="~/Content/js/swiper.min.js "></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js "></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="./Content/js/wow.min.js "></script>
    <script src="./Content/js/main.js "></script>
    <script src="./Content/js/header.js "></script>
    <script src="./Content/js/slider.js "></script>

    <script>
        new WOW().init();
    </script>
    <script>
        $(".closetop").click(function () {
            $(".contacthotel").hide();
            $('header').css('margin-top', '0');
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#search-menu").validate({
                rules: {
                    keySearch: {
                        required: true,
                    }
                },
                messages: {
                    keySearch: {
                        required:"Please enter key search"
                    }
                }
            })
        })
    </script>
    @RenderSection("script", false)
</body>

</html>


